@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css);

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

body {
  background: #f9f9f4;
  color: #2c2d26;
  font-feature-settings: 'calt' 1;
  font-variant-ligatures: contextual;
  font-family: 'Fira Code', monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.65;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
a {
  border-bottom: 1px solid #29858f;
  color: #4a90e2;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  opacity: 0.9;
  border-color: #444;
}

p {
  margin: 0 0 24px;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  color: #222;
}

h1 {
  font-size: 1.75em;
  float: left;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

hr {
  height: 0;
  border: 0;
  width: 100%;
  border-bottom: 1px dashed #999;
  margin-bottom: 20px;
  margin-top: 20px;
}

.wrapper {
  height: calc(100% - 100px);
  max-width: 1400px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
}

#header {
  height: 60px;
  margin: 0 auto;
  padding: 20px;
  max-width: 1400px;
}

.main,
.sidebar {
  height: calc(100% - 80px);
}

.main {
  padding: 20px;
  width: 80%;
  float: left;
}

.sidebar {
  float: right;
  width: 20%;
  padding: 20px;
  border-left: 1px dashed #999;
  height: calc(100% - 80px);
}

.legend {
  float: right;
  margin: 0;
}

.legend li {
  display: inline;
  margin-right: 20px;
  font-size: 0.7em;
  color: #999;
}

.week span {
  margin: 0 5px;
  text-align: center;
}

.week-row li.day {
  border: 1px solid #ccc;
  margin: 15px 5px;
  padding: 10px;
}

.sidebar header {
  position: relative;
}

.sidebar header button {
  position: absolute;
  top: 25%;
  right: 0px;
}

table {
  float: left;
  width: 100%;
  font-size: 0.8em;
}

table th {
  background: #ececec;
  font-weight: bold;
  text-align: center;
}

table td {
  text-align: center;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.sidebar h4 {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 20px;
}

strong {
  font-weight: 700;
}

div.form {
  margin: 20px 0;
  padding: 20px;
  background: #feb;
  border: 1px dashed #ccc;
  display: flex;
  flex-direction: column;
}

div.form label {
  flex: 1;
  font-weight: bold;
  margin-bottom: 10px;
}

div.form label input,
div.form label select,
div.form label textarea {
  width: 100%;
  padding: 5px;
  font-size: 1.2em;
}

div.form label textarea {
  font-size: 0.9em;
  min-height: 100px;
}

div.form button {
  margin-top: 20px;
}

small {
  font-size: 0.8em;
}

li.workoutTemplateItem {
  font-size: 0.7em;
  padding: 10px;
  background: #eee;
  border: 1px dashed #feb;
  margin-top: 10px;
}
